#resume
  #version v5.2
  .vcard

  #contact-info
    %p#name.fn Brent Haas
    %hr
    %p
      %span.adr
        %span.locality San Francisco,
        %span.region CA
    %p
      %span.tel 408-372-7473
    %p
      %a.email{:href => "mailto:brenthaas+resume@gmail.com"} brenthaas@gmail.com
    %p
      %a.url{:href => "https://github.com/brenthaas?tab=repositories"} github.com/brenthaas

  #objective.summary

  %dl.main-body
    %dt.section-title Skills
    %dd.section
      .entry
        .entry-head
          %span.org Languages, Frameworks, and Methodologies
        %ul.buzz-words
          %li Agile,
          %li TDD,
          %li Ruby,
          %li Ruby on Rails,
          %li RSpec,
          %li RabbitMQ,
          %li Javascript,
          %li React,
          %li CSS,
          %li HTML,
          %li SQL
    %dt.section-title Experience
    %dd.section
      .entry
        .entry-head
          %span.org Bugcrowd
          %span.title Software Engineer
          %span.location San Francisco
          %span.date 05/2015 - Present
        .job_role Full-Stack Web Developer focused on backend software engineering
        %ul.wins
          %li.win Wrote and reviewed RFC documents explaining architecture and software design approaches
          %li.win Investigated and resolved security vulenrabilities reported through our platform
          %li.win Developed features to support customers, researchers, and internal stakeholders
          %li.win Mentored junior engineers and paired with peers to design and develop new features
          %li.win Developed RESTful APIs for customers and researchers to interact with the platform
          %li.win Regularly improved and refactored parts of the application to reduce technical debt
          %li.win Developed best practices and quality of life improvements as part of culture team

      .entry
        .entry-head
          %span.org Yerdle
          %span.title Rails Developer
          %span.location San Francisco
          %span.date 10/2014 - 04/2015
        .job_role Server-side Rails Developer
        %ul.wins
          %li.win Designed invoicing and credit accounting system to improve security and auditing
          %li.win Rearchitected core data model to better adapt to business rules and reduce coupling

      .entry
        .entry-head
          %span.org CrowdFlower
          %span.title Web Developer
          %span.location San Francisco
          %span.date 02/2014 - 08/2014
        .job_role Full-Stack Web Developer in Customer Engineering
        %ul.wins
          %li.win Collaborated as part of a small, fast paced, high performing development team
          %li.win Developed new features for multiple Rails apps/services as part of an enterprise platform

      .entry
        .entry-head
          %span.org ThredUp
          %span.title Web Developer
          %span.location San Francisco
          %span.date 01/2013 - 11/2013
        .job_role Full-Stack Web Developer in Warehouse Operations
        %ul.wins
          %li.win Lead developer for backbone application used to reduce shipping and receiving errors, track defects and increase order turnaround
          %li.win Investigated problems with, and developed solutions, for architecture issues

      .entry
        .entry-head
          %span.org Yahoo!
          %span.title Tools developer / Operations Lead
          %span.location Sunnyvale, CA
          %span.date 06/2005 - 02/2010
        .job-role Technical lead and tools developer for a large-scale, globally distributed user database
        %ul.wins
          %li.win Designed and deployed the back-end database for Yahoo!’s Open Social services
          %li.win Provided 24x7 / 15 min. operational support for mission-critical systems with 99.999% uptime
          %li.win Trained highly skilled US and Indian operations teams as Technical Lead

    %dt.section-title Education
    %dd.section
      .entry
        .entry-head
          %span.org University of Arizona
          %span.location Tucson, AZ
          %span.date June 2002
        %span.wins
          %p.win Received Bachelors of Science, Computer Science


    %dt.section-title Accomplishments
    %dd.section
      .entry
        %ul.wins
          %li.win Winner of four Bugcrowd Hackathon awards
          %li.win Received Yahoo! “Bustin' Tail Pail” for Excellence in Engineering (awarded by COO)
          %li.win Nominated four times for Yahoo! Super Star Award for Excellence
          %li.win
            Art Projects:
            %a.url{:href => "http://flaminglotus.com"} flaminglotus.com
            %a.url{:href => "http://fluxfoundation.org/category/portfolio/"} fluxfoundation.org
            %a.url{:href => "http://charlesgadeken.com/squared"} charlesgadeken.com/squared
