@media print {
  #resume {
    margin-top: -15;
  }
  #version {
    display: none;
  }
  a[href]:after {
    content: "";
  }
}

@media screen {
  #resume {
    margin-top: 30px;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

#version {
  font: 0.75em Georgia, Serif;
  position: fixed;
  right: 0;
  bottom: 0;
}

.main-body {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;

  .card {
    display: flex;
    justify-content: center;
    margin-top: 1em;

    .card-heading {
      font-style: italic;
      font-weight: bold;
      font-size: 1em;

      display: flex;
      flex-basis: 13em;
      justify-content: flex-end;
      padding-right: 2em;
      border-right: 1px solid #999;
    }
    .entries {
      display: flex;
      flex-direction: column;
      flex: 1 1;
      padding-right: 8em;

      .entry {
        display: flex;
        flex-direction: column;
        padding-left: 2em;
        margin-bottom: 0.5em;

        .entry-heading {
          display: flex;
          justify-content: space-between;
          font-family: Georgia, Serif;
          color: #aaa;
          .primary-heading {
            flex: 1 1 0px;
            font-size: 1.125em;
            font-weight: bold;
            padding-left: 0.3em;
          }
          .primary-heading--2 {
            flex: 2 1 0px;

            font-size: 1.125em;
            font-weight: bold;
            padding-left: 0.3em;
          }
          .secondary-heading {
            flex: 1 1 0px;
            font-style: italic;
            padding-top: 0.3em;
          }
          .heading-spacer {
            flex: 1 1 2em;
          }
        }
        .entry-subheading {
          padding-top: 0.3em;
        }
        .content {
          margin-top: 0.3em;
          margin-bottom: 0;
          .win {
            line-height: 1.25em;
          }
        }
      }
    }
  }
}

#contact-info {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .contact-heading {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  .heading-name {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 3em;
    font-weight: bold;
    border-bottom: 1px solid black;
  }
  .contact-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-style: italic;
    font-weight: bold;
    .detail {
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
    }
  }
}

.skill-list {
  display: flex;
  flex-wrap: wrap;

  padding-left: 0.5em;
  list-style: none;
  .skill {
    padding-left: 0.1em;
  }
}

// General Styling
a {
  color: #999;
  text-decoration: none;
}
a:hover {
  color: black;
}
